<div class="jumbotron">
  <h1>Support Requests</h1>
  
</div>
<div class="row">
  <div class="col-md-2 col-sm-0"></div>
  <div class="col-md-8 col-sm-12">
  <h3>Please navigate to Requests to see your tickets.</h3>

  </div>
  <div class="col-md-2 col-sm-0"></div>
</div>