$navbar-border-radius: 0px;
$navbar-inverse-bg: #0D21FF;
$navbar-inverse-border: #0D21FF;
$navbar-inverse-brand-color: #0DFFDB;
$navbar-inverse-brand-hover-color:#0D21FF;
$navbar-inverse-brand-hover-bg:#0DFFDB;
$navbar-inverse-color:#145DCC;
$navbar-inverse-link-color:#0CCCE8;
$navbar-inverse-link-hover-color:#0D21FF;
$navbar-inverse-link-hover-bg:#0DFFDB;
$navbar-inverse-link-active-color:#0D21FF;
$navbar-inverse-link-active-bg:#0DFFDB;
// $navbar-inverse-link-disabled-color:;
// $navbar-inverse-link-disabled-bg